<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.dhlworks.voicerecon">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action
                android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>

</manifest>